* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-header {
  /* min-height: 100vh; */
  font-size: calc(10px + 2vmin);

}

/* .App-link {
  color: #61dafb;
} */

nav {
  background-color: #282c34;
  color: white;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  height: 5vh;
  z-index: 3;
  border-bottom: solid white 1px;
}

nav > *:first-child {
  margin-left: 10px;
}

nav > *:last-child {
  margin-right: 10px;
}

main {
  margin-top: 5vh;
}

.Gallery {
  /* margin-top: 35px; */
  padding: 5px 0 0 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 98%;
}

.GalleryImage {
  display: flex;
  animation: fadeIn 4s;
  /* width: 31%; */
  height: 300px;
  width: auto;
  position: relative;
  z-index: 1;
  margin: 5px;
}

.photo {
  width: 100%;
  outline: solid rgb(175, 175, 175) 1px;
}

.starBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 1%;
  right: 1%;
  background-color: darkblue;
  opacity: 0.8;
  width: 70px;
  color: white;
  font-size: 10px;
  border-radius: 5px;
  height: 20px;
  border: white solid 2px;
}

.starButtonStarred {
  width: 15px; 
  height: 15px;
  font-size: 10px;
  cursor: pointer;
  border: none;
  background: url(../Gallery/GalleryImage/star_icon_gold.svg) no-repeat;
}

.starButtonNotStarred {
  width: 15px; 
  height: 15px;
  font-size: 10px;
  cursor: pointer;
  border: none;
  background: url(../Gallery/GalleryImage/star_icon_grey.svg) no-repeat;
}

.starBar > p {
  width: 60%;
  font-size: 10px;
}

.zoomIn {
  position: absolute;
  visibility: hidden;
  top: 45%;
  right: 45%;
  width: 50px;
}

.GalleryImage:hover .zoomIn {
  visibility: visible;
}

.zoomIn:hover {
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-darken-background {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.image-modal {
  z-index: 5;
  position:fixed;
  width: 90vw;
  height: 90vh;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  overflow: scroll;
  overflow-x: auto;
  overflow-y: auto;
  outline: solid rgb(175, 175, 175) 3px;
}

.image-modal > img {
  min-width: 100%;
  cursor: zoom-out;
}

.show-image-modal {
  visibility: visible;
  opacity: 100%;
  transition: opacity 1s;
}

.hide-image-modal {
  visibility: hidden;
  opacity: 0%;
  transition: opacity 1s, visibility 0.7s;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #3d434f;
}

::-webkit-scrollbar-thumb:hover {
  background: #282c34;
}

.profile {
  word-wrap: break-word
}

.hamburger-icon {
  height: 70%;
  margin-left: 10px;
  cursor: pointer;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 5vh;
  width: 300px;
  background-color: #3d434f;
  transform: translateX(-100%);
  opacity: 0;
}

.show-hamburger-menu {
  transform: translateX(0%);
  opacity: 1;
  transition: opacity 0.3s, transform 0.3s;
}

.hide-hamburger-menu {
  transform: translateX(-100%);
  opacity: 0;
  transition: opacity 0.3s ease-in, transform 0.3s;
}

.hamburger-links > a {
  /* color: rgb(0, 0, 0); */
  margin: 5px 0;
  width: 80%;
  text-decoration: none;
  font-size: 17px;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.info-icon {
  height: 70%;
  cursor: pointer;
  margin-right: 10px;
}

.info-modal {
  z-index: 5;
  position:fixed;
  width: 90vw;
  height: 90vh;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  overflow: scroll;
  overflow-x: auto;
  overflow-y: auto;
  outline: solid rgb(175, 175, 175) 3px;
}

.show-info-modal {
  visibility: visible;
  opacity: 100%;
  transition: opacity 1s;
}

.hide-info-modal {
  visibility: hidden;
  opacity: 0%;
  transition: opacity 1s, visibility 0.7s;
}